a {
    text-decoration: none;
}

.navbar {
    background-color: rgb(52, 58, 64);
    color: white;
}

.main {
    height: 100vh;
}

.admin__table {
    height: 100%;

    .nav-pills {
        padding-top: 20px;
    }

    h1 {
        margin-bottom: 15px;
    }

}

.admin__table-all-users {
    height: 100%;
    padding: 20px 30px 0 30px;
}

.table__container {
    background-color: white;
    border: 1px solid lightgray;

    tr {
        border-bottom: white;
        border-top: 1px solid lightgray;
    }
}


.btn__edit {
    background-color: rgb(23, 162, 184);
    color: white;
}

.btn__edit:hover {
    background-color: rgb(23, 162, 184);
    color: white;
}

.table__head {
    border: 1px solid lightgray;
    padding: 10px;
    margin: 0;
    background-color: rgb(247, 247, 247);
}

.form__container {
    background-color: white;
    font-weight: bold;

    .btn {
        margin-top: 20px;
    }
}

.form-label, .form-select__container {
    margin: 10px 0 0 0;
}

.table__users {

}
