<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration</h1>

<form th:action="@{/}" th:method="post" th:object="${user}">
    <label for="name">Enter Name</label>
    <input type="text" th:field="*{username}" id="name" required/>
    <br><br>
    <label for="age">Enter Age</label>
    <input type="text" th:field="*{age}" id="age" required pattern="\d+"/>
    <br><br>
    <label for="password">Enter Password</label>
    <input type="password" th:field="*{password}" id="password" required/>
    <br><br>
    <input type="submit" value="Sign up">
</form>
<br>
<input type="button" value="Index Page" onclick="window.location.href='/index'"/>
&nbsp;
<input type="button" value="Login" onclick="window.location.href='/login'"/>

</body>
</html>